body {
    background-image: url(../iphone.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
    font-size: 50px;
    text-shadow: 0px  0px 0px white,
                 0px  3px 3px white,
                 0px  3px 3px white,
                 0px  3px 3px white;
}
h2{
    font-size: 30px;
    color: #f2e23d;
    text-shadow: 1px  1px 3px red,
                 1px  1px 3px red,
                 1px  1px 3px red,
                 1px  1px 3px red;
}

h4 {
    font-size: 27px;
    color: #f2e23d;
}

#inicio{
    padding-left: 25px;
    text-align: center;
}

#reglas-del-juego{
    text-align: center;
    color: white;
    text-shadow: 1px  1px 1px red,
                 1px  1px 1px red,
                 1px  1px 1px red,
                 1px  1px 1px red;
    display: flex;
    
}

strong {
    font-size: 18px;
    color: #f2e23d;
    text-shadow: 3px  1px 1px red,
                 3px  1px 1px red,
                 3px  1px 1px red,
                 3px  1px 1px red;
}

ol {
    display: flex;

}

li{
    display: inline-block;
    text-align: initial;

}

#boton-reglas{
    background-color: #f2e23d;
    color: black;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    position: relative;
    top: 300px;
    border-radius: 8px;
}
#boton-reglas:hover{
    background-color: red;
    color: white;
    border-radius: 8px;
}

#boton-jugar{
    background-color: #f2e23d;
    color: black;
    position: absolute;
    left: 615px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: large;
    font-weight: bold;
    top: 420px;
    border-radius: 8px;
}
#boton-jugar:hover{
    background-color: red;
    color: white;
    border-radius: 8px;
}

#seleccionar-personaje{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0px  0px 0px white,
                 0px  3px 3px white,
                 0px  3px 3px white,
                 0px  3px 3px white;   
}
[for=zuko]{
    padding: 10px;
}
[for=zuko]:hover{
    color: red;
}

[for=katara]{
    padding: 10px;
}
[for=katara]:hover{
    color: red;
}

[for=aang]{
    padding: 10px;
}
[for=aang]:hover{
    color: red;
}

[for=toph]{
    padding: 10px;
}
[for=toph]:hover{
    color: red;
}


#boton-personaje{
    background-color: #f2e23d;
    color: black;
    position: absolute;
    top: 215px;
    left: 610px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    border-radius: 8px;
}
#boton-personaje:hover{
    background-color: red;
    color: white;
    border-radius: 8px;
}

[type=radio]{
    display: none;
}

#seleccionar-ataque{
    text-align: center;
    font-size: 18px;
    color: white;
    text-shadow: 1px  1px 1px red,
                 1px  1px 1px red,
                 1px  1px 1px red,
                 1px  1px 1px red;
}

#boton-punio{
    border-radius: 100px;
    padding: 10px;
    background-color: red;
    font-size: 15px;
    font-weight: bold;
    border-color: aliceblue;
}
#boton-punio:hover{
    opacity: .7;
}

#boton-patada{
    border-radius: 100px;
    padding: 10px;
    background-color: orange;
    font-size: 15px;
    font-weight: bold;
    border-color: aliceblue;
}
#boton-patada:hover{
    opacity: .7;
}

#boton-barrida{
    border-radius: 100px;
    padding: 10px;
    background-color: green;
    font-size: 15px;
    font-weight: bold;
    border-color: aliceblue;
}
#boton-barrida:hover{
    opacity: .7;
}

#mensajes{
    text-align: center;
    color: aliceblue;
}

#boton-reiniciar{
    background-color: #f2e23d;
    color: black;
    position: absolute;
    left: 615px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: large;
    font-weight: bold;
    border-radius: 8px;
}
#boton-reiniciar:hover{
    background-color: red;
    color: aliceblue;
}

.imagen-toph img{
    display: none;
    

}
.imagen-katara img{
    display: none;
    

}

.imagen-zuko img{
    display: none;
    

}
.imagen-aang img{
    display: none;
}

@media only screen and (min-width: 390px) and (max-width: 844px) and (-webkit-min-device-pixel-ratio: 3) {
    
    body{
        display: flex;
        background-image: url(../iphone.png);
        background-size: contain; /* Permite que la imagen mantenga su tamaÃ±o original */
        width: 375px;
        height: 500px;

    }
    /* TamaÃ±o del texto */
    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h4 {
        font-size: 18px;
    }
    
    /* Ajuste de botones */
    button {
        width: 80%;
        padding: 10px;
        margin: 10px auto;
        font-size: 16px;
        display: block;
    }

    /* Ajuste de secciones */
    section {
        margin: 20px;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }
    
    /* Ajustes de radio buttons */
    .nombres label {
        display: block;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .nombres input[type="radio"] {
        margin-right: 10px;
    }
    
    /* Ajuste de los botones de ataque */
    #seleccionar-ataque p {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    #seleccionar-ataque button {
        flex-grow: 1;
        margin: 0 5px;
        font-size: 16px;
        padding: 10px;
    }

    #boton-personaje{
        background-color: #f2e23d;
        color: black;
        position: absolute;
        display: block;
        width: 100px;
        left: 5px;
        padding: 1px;
        padding-left: 1px;
        padding-right: 1px;
        font-weight: bold;
        border-radius: 8px;
    }

    #boton-reglas{
        background-color: #f2e23d;
        color: black;
        text-align: center;
        width: 100px;
        box-sizing: border-box;
        font-weight: bold;
        position: absolute;
        left: 10px;
        top: 350px;
        border-radius: 8px;
    }
}
